body {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #fbfbf2;
}

main {
    margin-top: 200px;
    background: linear-gradient(to right top, var(--fontFrom), var(--fontTo));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
}