body {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #ffffff;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, var(--fontFrom), var(--fontTo));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
}