/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



img{
width: 100%;
}

input {
    border: none;

    box-shadow: 0 0 1rem var(--loginFrom);
    outline: none;
}

/* log in page header */

#system-name-header {
    margin-top: 0;
    width: 100%;
}

/* log in form */

#login-form {
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 0 2rem var(--loginShadow);
    border-radius: 2rem;

    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: solid;
    border-color: #a6a2a2;
    background: #e5e6e4;
    width: 30%;
}

.form-item {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-evenly;
}

.button-container {
    margin-bottom: 0;
}

.form-item input,
button {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
    padding: 0.5rem 1rem;

    flex-grow: 2;

    border: solid;
    border-radius: 2em;
    border-color: #847577;

    width: 100%;
}

.form-item label {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 1rem;
}

#login-button {
    margin-top: 20px;
    border-radius: 1em;
    /* background: linear-gradient(to right top, #aed52073, #ffffff); */
    font-size: 20px;
    font-weight: bold;
    min-width: fit-content;
}

#login-button:hover {
    background: linear-gradient(to left top, var(--fontFrom), var(--fontTo));
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.7);
}

#response-message {
    box-sizing: border-box;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding: 1rem;

    background-color: rgb(255, 77, 77);
    box-shadow: 0 0 1rem rgba(255, 77, 77, 0.7);

    justify-content: space-evenly;
}

#response-message span {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#response-message span p {
    margin: 0;
    text-align: center;
}

#response-message img {
    width: 70px;
    height: 60px;
}

.no-show {
    display: none !important;
}

/* to registration page button */

h3,
a {
    display: inline-block;
}

#to-registration-btn {
    text-decoration: underline;
    border: none;
    background: none;
    width: auto;
}

#to-registration-btn:hover {
    background: #cfd2cd;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.7);
    border: none;
}